name: Build
on: 
  pull_request:
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  build-and-deploy-to-test:
    runs-on: ubuntu-latest
    environment: test
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::428421847827:role/GitHubActionsRole
          role-session-name: GithubActions
          aws-region: us-east-1
      - uses: actions/setup-dotnet@v3
        with:
          dotnet-version: '6.0.x'
      - uses: actions/setup-node@v3
        with:
          node-version: '18.15.x' 
      - name: Get First Commit SHA
        run: |
          echo "FIRST_COMMIT_SHA=$(git rev-list main..HEAD | tail -1)" >> $GITHUB_ENV
      - name: Echo First Commit SHA
        run: |
          echo $FIRST_COMMIT_SHA
      - name: Build, Test & Package
        run: |
          export API_DOMAIN=${FIRST_COMMIT_SHA::7}-api.test.patrickdrew.com
          . ./build.sh
      - name: Create SBOM
        uses: anchore/sbom-action@v0
        with:
          format: spdx-json
          artifact-name: cloud-resume-challenge-sbom.spdx.json
          output-file: cloud-resume-challenge-sbom.spdx.json
      - name: Scan SBOM
        uses: anchore/scan-action@v3
        with:
          sbom: cloud-resume-challenge-sbom.spdx.json
      - name: Deploy
        working-directory: ./Build
        run: | 
          npm install -g aws-cdk
          cdk deploy --require-approval never --context environment=test --context subdomain=${FIRST_COMMIT_SHA::7} --context domain=test.patrickdrew.com
      - name: Smoke Test
        working-directory: ./FrontEnd/src
        run: |
          export CYPRESS_BASE_URL=https://${FIRST_COMMIT_SHA::7}.test.patrickdrew.com
          npm run smokeTest