name: CleanUp
on: 
  pull_request:
    types:
      - closed
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  clean-test-environment:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::428421847827:role/GitHubActionsRole
          role-session-name: GithubActions
          aws-region: us-east-1           
      - name: Delete CFN Stack
        run: |
          FIRST_COMMIT_SHA=$(git rev-list --max-parents=0 HEAD)
          UPPER_SHA=$(echo $FIRST_COMMIT_SHA | tr '[:lower:]' '[:upper:]' | cut -c 1-7)
          aws cloudformation delete-stack --stack-name CloudResumeChallengeStack${UPPER_SHA}