name: CleanUp
on: 
  pull_request:
    types:
      - closed
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  clean-test-environment:
    runs-on: ubuntu-latest
    env:
      COMMIT_SHA: ${{ github.event.pull_request.head.sha }}
    steps:
      - uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::428421847827:role/GitHubActionsRole
          role-session-name: GithubActions
          aws-region: us-east-1           
      - name: Delete CFN Stack
        run: |
          UPPER_SHA=$(echo $COMMIT_SHA | tr '[:lower:]' '[:upper:]' | cut -c 1-7)
          . ./delete-stack.sh CloudResumeChallengeStack${UPPER_SHA}